*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header, p, li, h1{
    font-family: sans-serif;
}
header{
    font-weight: 500;
    font-size: 25px;
    color: rgb(16, 16, 16);
    margin-left: 30px;
}
p{
    margin-left: 45px;
}
#main-doc li, p{
    width: 900px;
    line-height: 1.6;
    font-size: 14.5px;
}
p, li{
    color: rgb(71, 71, 71);
    /* text-align: justify; */
}
li{
    margin-left: 95px;
}
.code, code{
    background-color: rgba(240, 240, 240, 0.611);
}
.code{
    margin-left: 85px;
    padding: 20px;
    color: rgb(97, 97, 97);
    width: 800px;
    border-radius: 6px;
}
#main-doc{
    overflow-x: hidden;
}
body{
    display: flex;
}
.navlink{
    list-style-type: none;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}
.line-one{
    font-weight: bolder;
}
h1{
    padding: 18px;
    font-weight: 500;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.navbar{
    height: 100vh;
    overflow-y: scroll;
    border-right: 3px solid rgb(200, 200, 200);
}